<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title" required minlength='3' #title="ngModel"
        placeholder="Post title">
      <mat-error *ngIf="title.invalid">Please enter post</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" [ngModel]="post?.content" required #content="ngModel"
        placeholder="Post content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter content</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit">Save post</button>
  </form>
</mat-card>